/* Variables */
:root {
  /* Colors */
  --text-primary: #212121;
  --text-secondary: #757575;;
  --primary: #03A9F4;
  --primary-disabled: gray;
  --primary-hover: #0298db;
  --primary-dark: #0288D1;
  --primary-light: #B3E5FC;
  --accent: #536DFE;
  --accent-disabled: #a8b5fe;
  --accent-hover: #425efd;

  /* Box Shadow */
  --box-shadow-md: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  /* Misc */
  --transition-duration: 0.15s;
  --transition-timing-function: ease-in-out;

  /* Border */
  --border-radius-none: 0px;
  --border-radius-round: 50;
  --border-radius-xs: 3px;
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;

  /* Margin */
  --margin-xs: 6px;
  --margin-sm: 12px;
  --margin-md: 24px;
  --margin-lg: 32px;
  --margin-xl: 48px;
  --margin-xxl: 64px;

  /* Padding */
  --padding-xs: 6px;
  --padding-sm: 12px;
  --padding-md: 24px;
  --padding-lg: 32px;
  --padding-xl: 48px;
  --padding-xxl: 64px;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rps-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  height: 100vh;
  width: 100vw;
}

.rps-container {
  maxWidth: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  justify-content: space-around;

  width: 100%;
  max-width: 400px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flex Box */
.d-flex { display: flex }

  /* Flex Direction */
  .flex-direction-column { flex-direction: column; }
  .flex-direction-row { flex-direction: row; }

  /* Justify Content */
  .justify-content-center { justify-content: center; }
  .justify-content-between { justify-content: space-between; }
  .justify-content-around { justify-content: space-around; }

  /* Align Items */
  .align-items-center { align-items: center; }
  .align-items-start { align-items: flex-start; }
  .align-items-end { align-items: flex-end; }
/*************/

/* Width & Height */
.w-100 { min-width: 100vw; }
.h-100 { min-height: 100vh; }

/* Colors */

  /* Text */
  .text-primary { color: var(--text-primary); }
  .text-secondary { color: var(--text-secondary); }

  /* Primary */
  .primary { color: var(--primary); }
  .bg-primary { background-color: var(--primary); }
  .bg-primary-hover:hover { background-color: var(--primary-hover); }
  .primary-dark { color: var(--primary-dark); }
  .bg-primary-dark { background-color: var(--primary-dark); }
  .primary-light { color: var(--primary-light); }
  .bg-primary-light { background-color: var(--primary-light); }

  /* Accent */
  .accent { color: var(--accent); }
  .bg-accent { background-color: var(--accent); transition: background-color var(--transition-duration) var(--transition-timing-function); }
  .bg-accent-disabled { background-color: var(--accent-disabled); }
  .bg-accent-disabled:hover { background-color: var(--accent-disabled) !important; }
  .bg-accent-hover:hover { background-color: var(--accent-hover); }

  /* White */
  .text-white { color: #FFFFFF; }
  .bg-white { background-color: #FFFFFF; }
/*************/

/* Font */
.font-weight-normal { font-weight: 400; }
.font-weight-bold { font-weight: 500; }
.text-center { text-align: center; }
/*************/

/* Margin & Padding */

  /* Margin xs */
  .m-xs { margin: var(--margin-xs); }
  .mh-xs { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-xs { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-xs { margin-top: var(--margin-xs); }
  .mr-xs { margin-right: var(--margin-xs); }
  .mb-xs { margin-bottom: var(--margin-xs); }
  .ml-xs { margin-left: var(--margin-xs); }

  /* Margin sm */
  .m-sm { margin: var(--margin-sm); }
  .mh-sm { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-sm { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-sm { margin-top: var(--margin-sm); }
  .mr-sm { margin-right: var(--margin-sm); }
  .mb-sm { margin-bottom: var(--margin-sm); }
  .ml-sm { margin-left: var(--margin-sm); }

  /* Margin md */
  .m-md { margin: var(--margin-md); }
  .mh-md { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-md { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-md { margin-top: var(--margin-md); }
  .mr-md { margin-right: var(--margin-md); }
  .mb-md { margin-bottom: var(--margin-md); }
  .ml-md { margin-left: var(--margin-md); }

  /* Margin lg */
  .m-lg { margin: var(--margin-lg); }
  .mh-lg { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-lg { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-lg { margin-top: var(--margin-lg); }
  .mr-lg { margin-right: var(--margin-lg); }
  .mb-lg { margin-bottom: var(--margin-lg); }
  .ml-lg { margin-left: var(--margin-lg); }

  /* Margin xl */
  .m-xl { margin: var(--margin-xl); }
  .mh-xl { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-xl { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-xl { margin-top: var(--margin-xl); }
  .mr-xl { margin-right: var(--margin-xl); }
  .mb-xl { margin-bottom: var(--margin-xl); }
  .ml-xl { margin-left: var(--margin-xl); }

  /* Margin xxl */
  .m-xxl { margin: var(--margin-xxl); }
  .mh-xxl { margin-right: var(--margin-sm); margin-left: var(--margin-sm); }
  .mv-xxl { margin-bottom: var(--margin-sm); margin-top: var(--margin-sm); }
  .mt-xxl { margin-top: var(--margin-xxl); }
  .mr-xxl { margin-right: var(--margin-xxl); }
  .mb-xxl { margin-bottom: var(--margin-xxl); }
  .ml-xxl { margin-left: var(--margin-xxl); }

  /* Padding xs */
  .p-xs { padding: var(--padding-xs); }
  .ph-xs { padding: inherit var(--padding-xs) inherit var(--padding-xs); }
  .pv-xs { padding: var(--padding-xs) inherit var(--padding-xs) inherit; }
  .pt-xs { padding-top: var(--padding-xs); }
  .pr-xs { padding-right: var(--padding-xs); }
  .pb-xs { padding-bottom: var(--padding-xs); }
  .pl-xs { padding-left: var(--padding-xs); }

  /* Padding sm */
  .p-sm { padding: var(--padding-sm); }
  .ph-sm { padding: inherit var(--padding-sm) inherit var(--padding-sm); }
  .pv-sm { padding: var(--padding-sm) inherit var(--padding-sm) inherit; }
  .pt-sm { padding-top: var(--padding-sm); }
  .pr-sm { padding-right: var(--padding-sm); }
  .pb-sm { padding-bottom: var(--padding-sm); }
  .pl-sm { padding-left: var(--padding-sm); }

  /* Padding md */
  .p-md { padding: var(--padding-md); }
  .ph-md { padding: inherit var(--padding-md) inherit var(--padding-md); }
  .pv-md { padding: var(--padding-md) inherit var(--padding-md) inherit; }
  .pt-md { padding-top: var(--padding-md); }
  .pr-md { padding-right: var(--padding-md); }
  .pb-md { padding-bottom: var(--padding-md); }
  .pl-md { padding-left: var(--padding-md); }

  /* Padding lg */
  .p-lg { padding: var(--padding-lg); }
  .ph-lg { padding: inherit var(--padding-lg) inherit var(--padding-lg); }
  .pv-lg { padding: var(--padding-lg) inherit var(--padding-lg) inherit; }
  .pt-lg { padding-top: var(--padding-lg); }
  .pr-lg { padding-right: var(--padding-lg); }
  .pb-lg { padding-bottom: var(--padding-lg); }
  .pl-lg { padding-left: var(--padding-lg); }

  /* Padding xl */
  .p-xl { padding: var(--padding-xl); }
  .ph-xl { padding: inherit var(--padding-xl) inherit var(--padding-xl); }
  .pv-xl { padding: var(--padding-xl) inherit var(--padding-xl) inherit; }
  .pt-xl { padding-top: var(--padding-xl); }
  .pr-xl { padding-right: var(--padding-xl); }
  .pb-xl { padding-bottom: var(--padding-xl); }
  .pl-xl { padding-left: var(--padding-xl); }

  /* Padding xxl */
  .p-xxl { padding: var(--padding-xxl); }
  .ph-xxl { padding: inherit var(--padding-xxl) inherit var(--padding-xxl); }
  .pv-xxl { padding: var(--padding-xxl) inherit var(--padding-xxl) inherit; }
  .pt-xxl { padding-top: var(--padding-xxl); }
  .pr-xxl { padding-right: var(--padding-xxl); }
  .pb-xxl { padding-bottom: var(--padding-xxl); }
  .pl-xxl { padding-left: var(--padding-xxl); }
/*************/

/* Border */

  /* Radius */
  .border-radius-xs { border-radius: var(--border-radius-xs); }
  .border-radius-sm { border-radius: var(--border-radius-sm); }
  .border-radius-md { border-radius: var(--border-radius-md); }
  .border-radius-lg { border-radius: var(--border-radius-lg); }
  .border-radius-xl { border-radius: var(--border-radius-xl); }
  .border-radius-round { border-radius: var(--border-radius-round); }
  .border-radius-none { border-radius: var(--border-radius-none); }
/*************/

/* Misc */

  /* Box Shadow */
  .box-shadow-md { box-shadow: var(--box-shadow-md); }